<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="Web.1.2.3.4.5.config" value="Value from Web.1.2.3.4.5.config" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
	</appSettings>
	<connectionStrings>
		<add name="Web.1.2.3.4.5.config" connectionString="Value from Web.1.2.3.4.5.config" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(connectionString)" />
	</connectionStrings>
</configuration>