<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Web.1.2.3.4.5.config" value="" />
		<add key="Web.AB.CDE.FGHI.config" value="" />
		<add key="Web.config" value="Value from Web.config" />
		<add key="Web.Release.config" value="" />
		<add key="Web.Test.config" value="" />
	</appSettings>
	<connectionStrings>
		<add name="Web.1.2.3.4.5.config" connectionString="" />
		<add name="Web.AB.CDE.FGHI.config" connectionString="" />
		<add name="Web.config" connectionString="Value from Web.config" />
		<add name="Web.Release.config" connectionString="" />
		<add name="Web.Test.config" connectionString="" />
	</connectionStrings>
</configuration>